---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/Hero.jsx";
import { Navbar } from "../components/Navbar.jsx";
import { Features1 } from "../components/Features1.jsx";
import { Features2 } from "../components/Features2.jsx";
import { Testimonials } from "../components/Testimonials.jsx";
import { FeaturesDiagonal } from "../components/FeaturesDiagonal.jsx";
import { Pricing } from "../components/Pricing.jsx";
import { FAQ } from "../components/FAQ.jsx";
import { Brands } from "../components/Brands.jsx";
import { Divider } from "../components/Divider";
import { Footer } from "../components/Footer.jsx";
import { ScrollUpButton } from "../components/ScrollUpButton";
import "../styles/Theme.css";
import "../styles/Diagonals.css";

---

<Layout title="Moon.js">
  <Navbar client:load />
  <Hero client:load />
  <Features1 client:load />
  <Divider />
  <Features2 client:load />
  <Testimonials client:load />
  <FeaturesDiagonal client:load />
  <Pricing client:load />
  <Brands client:load />
  <FAQ client:load />
  <Footer />
  <ScrollUpButton client:load />
</Layout>
